beautifulsoup4
cbor
certifi
charset-normalizer
chest
cmake
cwl-eval
Deprecated
dill
filelock
fsspec
gitdb
GitPython
HeapDict
huggingface-hub>=0.20.0
idna
ijson
inscriptis
ir-datasets
ir-measures
Jinja2
joblib
lit
lxml
lz4
MarkupSafe
matchpy
more-itertools
mpmath
multiset
networkx
npids
nptyping
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
pandas
patsy
pyautocorpus
pyjnius
pyterrier-doc2query @ git+https://github.com/terrierteam/pyterrier_doc2query@3449bcaf0727721d8d77c2524f0dc77dbbb77da0
python-dateutil
python-terrier
pytrec-eval-terrier
pytz
PyYAML
regex
requests>=2.32.2
safetensors
scikit-learn
scipy
sentencepiece
six
smmap
soupsieve
statsmodels
sympy
threadpoolctl
tokenizers>=0.15.0
torch>=2.1.0
tqdm>=4.66.3
transformers>=4.48.0
trec-car-tools
triton
typing_extensions
typish
tzdata
unlzw3
urllib3
warc3-wet
warc3-wet-clueweb09
wget
wrapt
zlib-state
beir